# Python environment
.venv/
__pycache__/
*.pyc

# Data and Models
Backend/data/*.csv
!Backend/data/sample_data.csv
Backend/fraud_model.json
Backend/features.npy

# Streamlit/OS
.streamlit/
.DS_Store